*.dat
*.lno
config.sh
updconfig.sh
releaseconfig.sh
releaseconfig_*.sh
qcsrc/server/fteqcc.log
qcsrc/client/fteqcc.log
qcsrc/common/rm_auto.qh
release/*
!release/.*
*.pk3dir/_*
c_*.pk3dir/*
pkgcache/*
!pkgcache/.*
xonotic-git/*
